[2019-08-06 03:05] ny6234 opened #101 "Design: recent addresses"
# Summary
![image](https://user-images.githubusercontent.com/15900208/62508390-5aaab500-b842-11e9-942c-78a5a8400ab5.png)

# Expected
3 per line

# Environments
* Stage: station 1.0.0
* Chain:
* OS:
* Platform:

# Reproduce
1.
2.
3.

[2019-08-06 09:32] ny6234 opened #102 "Design: sign in mobile"
# Summary
![image](https://user-images.githubusercontent.com/15900208/62528704-3f5a9c80-b878-11e9-8c2e-215a4b025baf.png)
font size is not set

# Expected
https://zpl.io/a89Dy0g

# Environments
* Stage:
* Chain:
* OS:
* Platform:

# Reproduce
1.
2.
3.

[2019-09-04 08:57] simcheolhwan opened #16 "Ledger integration"

[2019-09-05 06:57] simcheolhwan commented on #16
a8cf47b

[2019-09-05 06:57] #16 closed, assigned to simcheolhwan

[2019-09-06 09:58] simcheolhwan opened #17 "Dashboard"

[2019-09-07 10:15] #17 closed, assigned to simcheolhwan

[2019-09-16 07:10] simcheolhwan opened #21 "Refactor local storage"
Use `settings` key for all settings for simple code

[2019-09-16 07:12] simcheolhwan opened #22 "Keep checkbox 'Hide small balances'"

[2019-09-16 07:13] simcheolhwan opened #23 "Remove @lunie/cosmos-keys"
Remove `@lunie/cosmos-keys` to reduce bundle size.

[2019-09-16 07:14] simcheolhwan opened #24 "Remove reporting caught errors"
Remove reporting caught errors to reduce too many report

[2019-09-16 07:14] simcheolhwan opened #25 "Increase fee amount coefficient for redelegation"

[2019-09-16 07:15] simcheolhwan opened #26 "Fetch tax information from network"
# Summary
Tax inforamtion included in source codes.

# Expected
It should be from the network.

[2019-09-16 07:15] simcheolhwan opened #27 "Redesign auth menu"

[2019-09-16 07:20] #21 closed, assigned to simcheolhwan

[2019-09-16 07:20] #22 closed, assigned to simcheolhwan

[2019-09-16 07:20] #23 closed, assigned to simcheolhwan

[2019-09-16 07:20] #24 closed, assigned to simcheolhwan

[2019-09-16 07:20] #25 closed, assigned to simcheolhwan

[2019-09-16 07:20] #26 closed, assigned to simcheolhwan

[2019-09-16 07:20] #27 closed, assigned to simcheolhwan

[2019-09-16 07:27] simcheolhwan opened #28 "Feature: Update app on tx posted (by polling the hash of the tx)"

[2019-09-16 07:32] simcheolhwan opened #29 "Feature: Change password"

[2019-09-16 07:33] simcheolhwan opened #30 "Feature: Search txs"

[2019-09-16 07:34] simcheolhwan opened #31 "Feature: Sort columns on the validators list table"

[2019-09-16 07:35] simcheolhwan opened #32 "Feature: Auto-complete mnemonic words"
## Specifications
* [x] When user starts to type on input, suggest word start with the string.
* [x] If suggested word overflow, user can scroll.
* [x] When user select suggested word, auto-focus on the next input.

### Keyboard
* [x] User can select word by key down `↑`, `↓`, `Enter`, `Tab`.
* [x] Selected word by key down is hidden because of overflow, program adjusts scroll.
* [x] The next word

[2019-09-16 15:14] simcheolhwan opened #34 "Feature: i18n"

[2019-09-17 03:16] simcheolhwan opened #37 "Feature: Show refresh button on app updated"

[2019-09-17 09:48] brianTerra opened #38 "Feature: Multi-language support"
[Request]
Provide select option for multiple languages including Korean and English.

[2019-09-17 10:32] brianTerra opened #39 "Feature: Change 'Swap rate' table to Terra specific"
[Summary]
Currently 'Swap rate' table supports convert information on every tokens, which causes 2 problems
1) Information overlap with Luna price chart
2) Confusion on reading table

[Request]
Change 'Swap rate' to 'Terra Swap Rate', change UI accordingly.

[2019-09-18 05:24] brianTerra opened #40 "Feature: Publish 404 Page"
[Request]
Publish 404 page design. Reference link below.
https://station.terra.money/validator/terravaloper1uwgg244kechjgqdyr9kyxtt7yyj5zqcugvna2d

[2019-09-18 05:32] simcheolhwan opened #42 "Feature: Hide disabled item on auth menu"

[2019-09-18 05:33] simcheolhwan opened #43 "Feature: Stick minimum to 0 on y axis"

[2019-09-18 05:39] brianTerra opened #44 "Feature: Luna price / Terra swap rate polling update"
[Request]
Poll Luna price / Terra swap rate through socket

[2019-09-18 09:53] #42 closed, assigned to simcheolhwan

[2019-09-18 09:53] #43 closed, assigned to simcheolhwan

[2019-09-24 03:24] brianTerra commented on #29
@simcheolhwan I heard this feature won't be possible though, isn't it?

[2019-09-27 06:13] simcheolhwan opened #46 "Remove max of y axis on Staking Return chart"

[2019-09-27 06:14] #46 closed, assigned to simcheolhwan

[2019-09-27 06:15] simcheolhwan commented on #46
793dff7

[2019-09-27 06:23] simcheolhwan commented on #29
It may be possible now because structure has been changed.

[2019-10-15 03:42] simcheolhwan opened #47 "Update tx endpoint"
As-is: `POST /txs`
To-be: `POST /v1/txs`

FCD endpoint added for better performance (@algok)

[2019-10-15 08:37] simcheolhwan opened #49 "Feature: Glance through address"

[2019-10-16 07:22] #49 closed, assigned to simcheolhwan

[2019-10-16 07:41] #47 closed, assigned to simcheolhwan, algok

[2019-10-18 07:16] #32 closed, assigned to simcheolhwan

[2019-10-18 07:16] #31 closed, assigned to simcheolhwan

[2019-10-20 02:13] ethode opened #52 "Yarn Start Requires SSL, Docs Indicate otherwise"
# Summary
In Docs after "yarn start" is ran, the localhost:3000 reference uses http, but yarn start without any modifications runs station on HTTPS only.  Editing the .env.DEVELOPMENT file so that *HTTPS=false* fixes the issue, but I would imagine someone downloading the source for the first time and playing around would just hit a wall.

# Expected
Expected yarn start to start station on http vs

[2019-10-22 03:28] simcheolhwan opened #53 "Graph unit fix for dashboard"
All numbers on M unit have one more 0.
It have to be removed.

[2019-10-22 03:31] #53 closed, assigned to simcheolhwan

[2019-10-22 07:15] simcheolhwan opened #55 "Use lowercase to compare moniker name when sort on validators list"

[2019-10-22 07:17] simcheolhwan commented on #40
It was resolved on 404 page. But it wasn't resolved on 500 page.

[2019-10-22 08:13] simcheolhwan opened #56 "Auto-fill 'abandon' when user press tab on mnemonic input"

[2019-10-22 10:58] #40 closed, assigned to simcheolhwan

[2019-10-22 10:59] #55 closed, assigned to simcheolhwan

[2019-10-22 11:00] #56 closed, assigned to simcheolhwan

[2019-10-23 05:06] #52 closed, assigned to simcheolhwan

[2019-10-23 07:10] Freya-Shin opened #58 "[Recover] The location of the word is changed in the list."
# Summary
The location of the word is changed in the list when a user selects the word by key down.

# Expected
The location of the word is not changed.

# Environments
* Chain: Vodka
* OS: Windows 10
* Platform: PC

# Reproduce
1. Sign in > Recover > Seed phrase > Click the 6th, 12th, 18th, 24th field.
2. Input the letter. > The words list is displayed.
3. Select the word by key down ↑, ↓.
4. The

[2019-10-23 07:47] Freya-Shin opened #59 "[Send] More than 6 decimal places are input when a Vesting account user clicks the balance."
# Summary
More than 6 decimal places are input when a Vesting account user clicks the balance.

# Expected
Amount must be input within 6 decimal places.

# Environments
* Chain: Vodka
* OS: Windows 10
* Platform: PC

# Reproduce
1. Sign in with a Vesting account.
(seed: wagon approve blush bachelor deputy arrow sweet claw valley kite juice jump narrow clerk discover volume salon pull genius black

[2019-10-24 10:46] #58 closed, assigned to simcheolhwan

[2019-10-24 10:46] #59 closed, assigned to simcheolhwan

[2019-10-31 06:54] yun-yeo opened #61 "Feature: Ledger Spec Update"
The terra ledger APDU interface will be changed at columbus-3.
Please check changed spec [**here**](https://github.com/terra-project/ledger-terra-app/commit/26881e36c7186e47b36e56b8302d959cddf12dec#diff-e8825d6de4ca0fd18b48afb1e9864e0d)

[2019-11-19 09:08] simcheolhwan opened #62 "Feature: Governance"
- [x] Browse list
- [x] Read details
- [x] Edit deposit/vote
- [x] Add new proposal

[2019-12-05 07:18] Freya-Shin opened #63 "[Bank] Failure to send luna"
# Summary
There are two issues in case of sending luna.
1. Sending luna failed.
2. However success pop-up is displayed.

# Expected
1. Luna is sent successfully.
2. Show a failure message when sending luna failed.

# Environments
* Chain: soju
* OS: Windows 10

# Reproduce
1. Go to Bank
2. Click on Send button of luna
3. Input receiver's address and amount
4. Click on Next button
5. Input password

[2019-12-05 07:41] Freya-Shin opened #64 "[Dashboard] Staking ratio error"
# Summary
Staking ratio error

# Expected
Staking ratio is calculated as follows: Staked Luna / Total Luna

# Environments
* Chain: soju
* OS: Windows 10

[2019-12-05 08:28] simcheolhwan commented on #63
Caused by changed response structure on Columbus-3.

[2019-12-05 08:28] simcheolhwan commented on #63
Fixed version is deployed on staging.

[2019-12-05 12:01] Freya-Shin opened #65 "[Bank] Remove the tax field"
# Summary
Tax field is displayed on confirmation pop-up in case of sending luna.

# Expected
Tax field is not displayed.

# Environments
* Chain: soju
* OS: Windows 10

[2019-12-05 12:09] simcheolhwan commented on #65
Fixed version is deployed on staging.

[2019-12-05 12:57] Freya-Shin opened #66 "[Tx] Remove the value from the Tx fee field"
# Summary
Two value are displayed on the 'Tx fee' field.

# Expected
'Tx fee' is displayed one value.

# Environments
* Chain: soju
* OS: Windows 10

# Reproduce
1. Go go Bank and send terra
2. Go to Transactions and confirm 'Tx fee'

![image](https://user-images.githubusercontent.com/52445470/70237230-0e4c9300-17aa-11ea-97c5-e8bfadcf34a5.png)

[2019-12-06 04:02] Freya-Shin commented on #63
First issue is occurred when 'fees' is not adjusted more high. Please check it. @YunSuk-Yeo

[2019-12-06 05:03] Freya-Shin opened #67 "[Staking] Improve loading time of event/claim log"
# Summary
It takes a long time to display the event/claim log. (about 1 min)

# Expected
Improve the loading time of event/claim log

# Environments
* Chain: soju
* OS: Windows 10

# Reproduce
1. Go go Staking
2. Click on Validator
3. Check the loading time of event log and claim log on Validator details page

[2019-12-06 05:47] Freya-Shin opened #68 "[Send] Can't redelegate without luna"
# Summary
Can't redelegate because "Delegate" button is disabled when luna balance is 0

# Expected
User can redelegate without luna.

# Environments
* Chain: soju
* OS: Windows 10

# Reproduce
1. Go to Staking
2. Delegate all luna
3. Try to redelegate

[2019-12-06 07:25] Freya-Shin opened #69 "[Swap] Can't swap coins"
# Summary
"Swap" button is disabled.
Receive amount is displayed in 'Spread'.

# Expected
"Swap" button is displayed active.
'Spread' and 'Receive' amount is displayed correctly.

# Environments
* Chain: soju
* OS: Windows 10

# Reproduce
1. Go to Market
2. Select a coin to swap and enter the amount
3. Confirm "Swap" button
![image](https://user-images.githubusercontent.com/52445470/70304273-eb22f

[2019-12-06 08:16] #69 closed, assigned to simcheolhwan

[2019-12-09 11:58] Freya-Shin opened #70 "[Tx] Tx fee가 2개의 값으로 표시됨"
# Summary
Transactions > Tx fee가 2개의 값으로 표시됨

# Expected
0으로 노출되는 값 제거

# Environments
* Chain: soju
* OS: Windows 10

# Reproduce
1. Transactions > Tx fee 항목 확인

![image](https://user-images.githubusercontent.com/52445470/70434118-ad350000-1ac6-11ea-9ac8-ced067bbaefe.png)

[2019-12-09 11:59] Freya-Shin commented on #70
수정 확인

[2019-12-09 11:59] #70 closed, assigned to Freya-Shin

[2019-12-12 06:40] simcheolhwan opened #71 "Feature(Dashboard): Show accumulated value on Tx volume and Tax proceeds"

[2019-12-12 06:43] #63 closed, assigned to simcheolhwan

[2019-12-12 07:23] Freya-Shin commented on #71
Closed

[2019-12-12 07:23] #71 closed, assigned to simcheolhwan

[2019-12-16 07:37] Freya-Shin commented on #64
closed

[2019-12-16 07:37] #64 closed, assigned to algok

[2019-12-16 07:37] Freya-Shin commented on #65
closed

[2019-12-16 07:37] #65 closed, assigned to simcheolhwan

[2019-12-16 07:38] Freya-Shin commented on #66
closed

[2019-12-16 07:38] #66 closed, assigned to algok

[2019-12-16 07:38] simcheolhwan opened #74 "Feature: Add "Delegation Return" column on validators list table"

[2019-12-16 07:38] Freya-Shin commented on #67
closed

[2019-12-16 07:38] #67 closed, assigned to algok

[2019-12-17 06:52] simcheolhwan opened #77 "Improve: Dashboard charts"
### All charts
* Numbers of both cumulative & periodic are the increased amount during the selected period.
* "i" button for showing information of the chart.

### Tx volume, Block rewards, Total accounts
* Free floating y axis.
* Option to choose periodic/cumulative.

### Tx volume
* User can select a denom.
* User can select "last day" option. - It shows the volume of yesterday, and chart for la

[2019-12-18 07:05] simcheolhwan commented on #62
Closed in #72

[2019-12-18 07:05] #62 closed, assigned to simcheolhwan

[2019-12-18 07:06] simcheolhwan commented on #39
Closed in #72

[2019-12-18 07:06] #39 closed, assigned to simcheolhwan, algok

[2019-12-18 08:20] simcheolhwan opened #78 "Feature: Show validator moniker on Governance page"

[2019-12-26 03:10] simcheolhwan commented on #61
- [x] u2f → webusb
- [x] publicKey() → getAddressAndPubKey()

[2019-12-26 03:28] #61 closed, assigned to simcheolhwan

[2019-12-26 03:39] Freya-Shin commented on #78
Closed

[2019-12-26 03:39] #78 closed, assigned to simcheolhwan

[2019-12-26 04:19] #74 closed, assigned to simcheolhwan

[2019-12-26 04:31] #77 closed, assigned to simcheolhwan

[2019-12-26 04:42] #68 closed, assigned to simcheolhwan

[2019-12-27 04:09] #37 closed, assigned to simcheolhwan

[2020-01-02 05:30] simcheolhwan commented on #34
Duplicated #38

[2020-01-02 05:30] #34 closed, assigned to simcheolhwan

[2020-01-18 19:09] arein opened #83 "Link to Terra Station Download is broken"
# Summary
Link to Terra Station Download is broken

# Reproduce
1. Go to [Terra Station](https://station.terra.money/)
2. Click "Sign In" in the top right
3. Click "How can I create an account?"
4. Follow the "please download Terra Sation" link which leads to "https://terra.money/"
5. There is no way to download Terra station on https://terra.money/

[2020-01-18 19:12] arein opened #84 "Feature: As a user, I would like to see a graph of active accounts per month//day"
# Summary
As a user, I would like to see a graph of active accounts per month//day

The Terra Station Dashboard has great graphs for total accounts (cumulative/periodic) but not for monthly/daily active accounts.

[2020-01-20 07:51] ouiliame commented on #84
@arein  It isn’t Terra station’s authority to determine what counts as a “daily/monthly” active users, since every app will have different way to report the metric. When Terra becomes more mature for individual dApps, you can expect that type of reporting you see on https://dappradar.com/.

The bulk of Terra accounts are coming from Chai, who I've heard will be releasing a public metrics dashboard

[2020-01-20 07:51] #84 closed, assigned to simcheolhwan

[2020-01-21 00:42] ouiliame commented on #83
@simcheolhwan Let's have it link to https://terra.money/protocol#protocol1

[2020-01-21 13:45] f-erdi1990 opened #86 "Feature: Automatic reinvesting of staking yields"
When delekating your luna to a validator, one collects rewards in different currencies (Luna, KRT, SDT, MNT). Since most people do not regularly check, optimize and re-delegate their rewards, they miss out on compounding.

It would therefore be extremely helpful to implement an optimized / automatic function, which would re-invest the rewards to maximize total yield of the delegating crowd.

[2020-01-22 11:16] simcheolhwan commented on #38
Released on v3.4.0

[2020-01-22 11:16] #38 closed, assigned to simcheolhwan

[2020-01-24 15:59] arein commented on #84
@ouiliame sounds good. Thanks for elaborating!

[2020-01-24 17:09] arein commented on #83
@ouiliame thanks for providing the link. Went ahead and created a PR.

[2020-01-28 03:39] simcheolhwan commented on #83
Fixed with 76c90a6

[2020-01-28 03:39] #83 closed, assigned to simcheolhwan

[2020-03-08 19:42] maruf0011 opened #90 "Timezone miss-match in different location than seoul"
# Summary
While viewing the dashboard from different location than Seoul timezone the chats shows wrong times.

# Expected
Should show time in local timezone.

# Environments
* Stage: Prod
* Chain: Colombus-03
* OS: osx
* Platform: chrome

# Reproduce
1. Change PC timezone and reload station.
<img width="803" alt="Screen Shot 2020-03-09 at 1 40 23 AM" src="https://user-images.githubusercontent.com

[2020-03-31 08:19] simcheolhwan commented on #28
This feature will be started after terra-project/fcd#144.

[2020-03-31 10:31] simcheolhwan commented on #29
It's figured out to be possible, and this issue has been resolved.

[2020-03-31 10:31] #29 closed, assigned to simcheolhwan

[2020-03-31 11:22] simcheolhwan commented on #30
This issue is about that we will provide a search input on transactions list.
If user type something and press enter then list will be filtered.

Specifications need to be discussed and implemented from fcd.
Please comment how we will filter list if user type something. @brianTerra
And please comment about it can be implemented or not. @maruf0011

[2020-03-31 11:24] simcheolhwan commented on #44
This issue will be started after terra-project/fcd#145 has been done.

[2020-03-31 11:28] simcheolhwan commented on #86
This request can not work in Terra Station.
Could you comment your opinion? @YunSuk-Yeo

[2020-03-31 15:54] hanjukim commented on #86
I agree on this request. The problem is that we need several tx signatures. Is it possible to do in one sig? @yunsuk-yeo?

[2020-03-31 16:59] simcheolhwan commented on #86
Does automatic mean that it requires working like cron or something?

[2020-04-01 05:36] yun-yeo commented on #86
It seems not desirable  doing withdraw, swap, and redelegate in the web station. All operations require the signature. To do so, we have to keep the user's private key in the station (we can not get private key from the ledger).

However we can do this on the desktop version station with user's agreement. Or, later we can do this with smart contract.

[2020-04-01 08:45] simcheolhwan commented on #90
I'm trying to find why this issue happened.

[2020-04-04 12:28] simcheolhwan commented on #44
7d47acb closes this.

[2020-04-04 12:28] #44 closed, assigned to simcheolhwan

[2020-04-06 12:52] hanjukim commented on #86
does it seems to possible if we get three signatures at the same time with consecutive sequence?

[2020-04-12 11:30] hanjukim opened #92 "Sharing feature"
## Description
We have link in every pages of Station, but user can't find it from Station Desktop. It would be good to have this feature for many purpose (for example: bug report)

[2020-04-12 11:34] hanjukim opened #93 "Highlight disappears from menu"
# Summary
In every second depth of Staking and Governance page, highlight disappears from menu

# Expected
a menu should stay highlighted

# Environments
* Stage: all
* Chain: all
* OS: all
* Platform: all

# Reproduce
1. Go to Staking > Validator
2. Go to Governance > Proposal

[2020-04-13 02:35] ouiliame opened #94 "Feature: Badges for Validators who have submitted their profiles"
Currently, clicking on a validator's name on the Staking page leads to a [detail-view](https://station.terra.money/validator/terravaloper1audgfvmgt0js54p3s8kj3r40uwej6vy2tv6rrw) that shows the information in their Validator Delegate Description, as well as some aggregate staking metrics.

There should be a nice way to link to Validator's extended profiles located at the [Validator Profiles](https:

[2020-04-13 08:02] ghost commented on #94
updated on Zeplin
https://zpl.io/2pJompJ
zpl://screen?sid=5d00cedf4d2f815d7414bdeb&pid=5ce766046427511e19f28f85

[2020-04-13 10:26] ghost commented on #92
share button added on top
https://zpl.io/anJmKXk
zpl://screen?pid=5ce766046427511e19f28f85&sid=5e943c30b2f4f851df349207

share modal
https://zpl.io/agJnv7D
zpl://screen?pid=5ce766046427511e19f28f85&sid=5e943c319c48f3794cf70a82

please let me know if you see anything to fix.

[2020-04-13 10:28] ghost commented on #92
[svg_share_buttons.zip](https://github.com/terra-project/station/files/4469122/svg_share_buttons.zip)

[2020-04-14 01:03] ghost commented on #92
mobile
https://zpl.io/agJvrO1
zpl://screen?pid=5ce766046427511e19f28f85&sid=5e950bc07b769379183506ed

[2020-04-14 01:19] ghost commented on #94
<img src="https://user-images.githubusercontent.com/15900208/79175695-628f1000-7e39-11ea-8305-02741514f990.png" width="190">
뱃지 이미지 약간 업데이트 했어요 @simcheolhwan

[2020-04-14 06:45] simcheolhwan commented on #92
[code]

Translate above please @etienne-napoleone @yusihyeok

[2020-04-14 06:57] yusihyeok commented on #92
[code]
@simcheolhwan

[2020-04-14 07:53] simcheolhwan commented on #93
e72b7cd closed this.

[2020-04-14 07:53] #93 closed, assigned to simcheolhwan

[2020-04-14 07:53] simcheolhwan commented on #94
2e2715e closed this.

[2020-04-14 07:53] #94 closed, assigned to simcheolhwan

[2020-04-14 11:49] etienne-napoleone commented on #92
[code]
@simcheolhwan

[2020-04-23 04:03] ouiliame opened #95 "Feature: Visual checksum for Terra addresses / payment requests"
A procedurally generated avatar (like Ethavatar) to be shown next to Terra addresses like recipients in the "Send" modal dialog would allow users to easily distinguish between potentially erroneous transactions.

This scheme could also be extended by performing a checksum on payment fields to include not only recipient, but payment amount and memo by producing the visual checksum over a TIP-42 enc

[2020-04-28 12:14] simcheolhwan commented on #92
11086d7 closes this

[2020-04-28 12:14] #92 closed, assigned to simcheolhwan

[2020-05-07 11:15] hanjukim opened #96 "Feature: Add options to Staking Return chart"
## As Is
In Dashboard, we are displaying annualized return in Staking Return chart.

## To Be
Provide feature that user can choose option to display annualized and daily staking return.

## Resource
Use dailyReturn property from https://fcd.terra.dev/v1/dashboard/staking_return endpoint

[2020-05-11 09:14] simcheolhwan commented on #96
[code]

Would you translate this in Chinese, French? @etienne-napoleone @yusihyeok

[2020-05-11 09:15] etienne-napoleone commented on #96
@simcheolhwan
[code]

[2020-05-12 01:27] yusihyeok commented on #96
[code]

[2020-05-12 08:22] simcheolhwan commented on #96
terra-project/use-station@84eda7e and 0534ff3 closes this

[2020-05-12 08:22] #96 closed, assigned to simcheolhwan

[2020-05-25 00:59] hanjukim opened #97 "Feature: Change `Total Accounts` Dashboard"
![image (4)](https://user-images.githubusercontent.com/1264116/82768900-b5aea680-9e6c-11ea-92ed-882c03d87043.png)

## Description
In Dashboard  menu, the description of `Total accounts: Number of total accounts with more than 1 non-trivial transaction in the selected period` does not match with the graph.
Station will show `Active accounts (Periodic)`, `Total accounts (Periodic)`,  and `Total acco

[2020-05-26 05:44] simcheolhwan commented on #97
### Filter
* `Active`/`Total`
* `Periodic`/`Cumulative`

### Exception
* if `Active` then disable `Cumulative`
* if `Cumulative` then disable `Active`

[2020-05-26 06:48] simcheolhwan commented on #97
[code]
@yusihyeok @etienne-napoleone Please translate this :)

[2020-05-26 06:55] etienne-napoleone commented on #97
[code]

[2020-05-26 08:02] yusihyeok commented on #97
[code]

[2020-05-28 08:17] simcheolhwan commented on #97
terra-project/use-station@dcb582f closes this.
(Deployment is ready, but waiting api work.)

[2020-05-28 08:17] #97 closed, assigned to simcheolhwan

[2020-06-02 06:34] hanjukim opened #98 "Tax does not appear in Transaction item"
# Summary
In Transactions menu, only Tx fee is displayed. Tax should be shown as well.

# Expected
Tax should be shown.

# Environments
* Stage: Production
* Chain: Columbus-3
* OS: macOS
* Platform: Mojave?

# Reproduce
1. Go to Transaction menu
2. Filter by Send
3. Look for Tax along with Tx fee

[2020-06-03 06:41] simcheolhwan commented on #98
It was intended. So fcd isn't providing the data.

[2020-06-03 12:10] hanjukim commented on #98
fcd is providing data that is  why finder could show it. I don't know why, but fcd separated tax to log.

[2020-06-03 12:12] hanjukim opened #99 "Feature: Add google analytics"

[2020-06-04 08:40] hanjukim commented on #98
https://finder.terra.money/columbus-3/tx/D2B2C339DBE68FA1F2B5E21D980E451AA56571C282DD8DF0E2C97894AE48ED78

https://fcd.terra.dev/v1/tx/D2B2C339DBE68FA1F2B5E21D980E451AA56571C282DD8DF0E2C97894AE48ED78

https://lcd.terra.dev/txs/D2B2C339DBE68FA1F2B5E21D980E451AA56571C282DD8DF0E2C97894AE48ED78

[2020-06-04 10:13] hanjukim opened #100 "Feature: Change ledger library to ledger-terra-js"
For version to be matched, station needs to change ledger library to [ledger-terra-js](https://github.com/terra-project/ledger-terra-js)

[2020-06-04 10:14] hanjukim commented on #100
Also, please check cosmos app compatibility after upgrade.

[2020-06-04 14:29] hanjukim commented on #101
Tests were done with macOS + Chrome

[2020-06-05 06:36] simcheolhwan commented on #98
Provide tax in `/msgs` endpoint please. Then I will show it on txs page.

[2020-06-08 05:44] #100 closed, assigned to simcheolhwan

[2020-06-09 03:26] etienne-napoleone opened #104 "Dashboard "Total accounts" panel weird behaviour"
# Summary

Sometimes the actives/total dropdown menu don't change anything

# Expected

Change between total and active accounts

# Environments
* Stage: https://station.terra.money/
* Chain: *
* OS: macOS Mojave 10.14.6 (18G5033)
* Platform: Firefox 77.0.1 (64-bit)

# Reproduce
1. Go to https://station.terra.money/
2. on the total account widget:
3. change `cummulative` to `periodic`
4. change `t

[2020-06-09 04:54] simcheolhwan commented on #104
I think it was temporary issue that server responded very slow.

[2020-06-09 08:51] simcheolhwan commented on #104
Would you test this again? @etienne-napoleone

[2020-06-09 09:14] etienne-napoleone commented on #104
ah yes, seems like it's slow response from fcd
<img width="609" alt="image" src="https://user-images.githubusercontent.com/26155267/84129568-6eb2da80-aa42-11ea-95fc-8fc61faea9bc.png">

[2020-06-09 09:14] #104 closed, assigned to simcheolhwan

[2020-06-10 06:10] jongkwang opened #105 "My seed phrase word is not in the suggested word."
# Summary
- My seed word is "ill". but it is not seen in the suggested word.

# Expected
- Need to add to the suggested word.

# Environments
* Stage: Production
* Chain: Columbus-3
* OS: Windows 10 (running through VirtualBox on MacOS)
* Platform: ?

# Reproduce
1. One of the 24 suggested words is <code>ill</code>
2. When I import account with seed. I type <code>ill</code> and press a <code>Tab</

[2020-06-10 06:37] simcheolhwan commented on #105
If you type `i` or `il` then you can see `ill`. But if you type `ill` then Station consider you already select the exact `ill` so it doesn't show `ill`. However I think it's good to show `ill` on the list although you type `ill`. I'll work on it.

[2020-06-10 09:08] simcheolhwan commented on #105
terra-project/use-station@bb6c962 closes this

[2020-06-10 09:08] #105 closed, assigned to simcheolhwan

[2020-06-11 03:20] jongkwang commented on #105
Ah~ right right 😄
Thank you!

[2020-06-11 11:58] hanjukim opened #106 "blook-height header should be removed when switching to different network"
# Summary
Station is adding a custom header `block-height` to http request. Previous network block-height will be added to request after switching to different network.

# Expected
Remove the `block-height` after switching to different network.

# Environments
* Stage: Production
* Chain: Columbus-3 and Soju-0014
* OS: macOS
* Platform: Chrome

# Reproduce
1. Open station.terra.money from Chrome a

[2020-06-16 01:52] Flyy-yu opened #107 "Node.js function is accessible in the terra desktop application, with nodeintegration set to true."
# Summary

`nodeintegration` is set to true and `webSecurity` is set to false in https://github.com/terra-project/station-electron/blob/master/public/electron.js#L17

Node.js function is accessible in the terra station desktop application. It can be escalated to remote code execution if the application contains XSS vulnerability.  I wasn't able to find XSS in the application, but if I navigate to

[2020-06-16 07:22] maruf0011 commented on #98
@simcheolhwan. Now tax info is provided in `/msgs` route in `msgs` of `txs`. and it's deployed for soju.

[2020-06-19 12:20] etienne-napoleone opened #108 "Delagated validators voting hint always displayed"
# Summary

All the validators I'm staking for have voted for proposal X, the disclaimer for validators who haven't voted is still displaying as per:

<img width="600" alt="image" src="https://user-images.githubusercontent.com/26155267/85131764-ba7e3480-b237-11ea-9d9d-b52d4d6d02a0.png">

# Expected

This section is hidden

# Environments
* Stage: prod
* Chain: columbus
* OS: *
* Platform: *

# Repr

[2020-06-26 05:54] #107 closed, assigned to simcheolhwan

[2020-06-29 03:06] ouiliame opened #110 "Feature: Smart Contract Integration"
Visual specs are available on https://zpl.io/VQvAgrn

Users should be able to interact directly with smart contracts from Station. There should be a new submenu called “Contracts” that provides a UI portal for accessing the following functions:

## Code Upload

As a user, I want to be able to upload new contract code in the form of a compiled, raw WASM binary.  There should be a button titled “Upl

[2020-07-06 04:58] ghost opened #111 "Feature: Sign in popup improvements for Web"
https://zpl.io/boqqy7v
zpl://screen?sid=5f02aa7faf024ab83e6d3b15&pid=5ce766046427511e19f28f85

Please add download feature to 'SIgn In' modal **only for web**

[2020-07-06 05:21] etienne-napoleone opened #112 "Feature: Use a different domain for soju ws endpoint"
Currently, ws is accessed through:
`wss://soju-fcd.terra.dev/socketcluster/`
It should bepossible to set a different domain for the websocket only so it uses:
`wss://soju-ws.terra.dev/socketcluster/`

Currently, only soju is serving ws over a different subdomain

[2020-07-06 05:29] ghost commented on #111
[MacWindows_icon_svg.zip](https://github.com/terra-project/station/files/4876915/MacWindows_icon_svg.zip)

[2020-07-14 04:56] simcheolhwan commented on #111
f0b2fd8 closed this

[2020-07-14 04:56] #111 closed, assigned to simcheolhwan

[2020-07-14 04:56] simcheolhwan commented on #112
63e71cb closed this

[2020-07-14 04:56] #112 closed, assigned to simcheolhwan

[2020-07-14 12:29] #110 closed, assigned to simcheolhwan

[2020-07-14 12:29] hanjukim commented on #98
Is this finished?

[2020-07-14 12:30] hanjukim commented on #90
Updates?

[2020-07-14 12:31] hanjukim commented on #106
updates?

[2020-07-29 09:28] snj33v opened #114 "Feature: Linux version"
can we have a linux version of terra station

[2020-08-13 03:36] snj33v commented on #114
Can I move this to https://github.com/terra-project/station-electron ?

[2020-11-18 12:01] hanjukim opened #117 "Feature: Ledger support for Extension"
## Description
Support Ledger hardware wallet on Station Extension

[2020-11-25 05:06] #117 closed, assigned to hanjukim

[2020-11-26 11:29] #98 closed, assigned to simcheolhwan, maruf0011

[2020-12-02 08:18] James0126 commented on #108
I start to fix this bug

[2020-12-03 05:57] James0126 commented on #90
I start to fix this bug

[2020-12-03 08:53] James0126 commented on #108
Closed terra-project/use-station#14

[2020-12-03 08:53] #108 closed, assigned to simcheolhwan, James0126

[2020-12-03 08:54] James0126 opened #126 "Feature: Change menu name Market to Swap"

[2020-12-03 08:55] James0126 commented on #126
#125 closed this.

[2020-12-03 08:55] #126 closed, assigned to simcheolhwan

[2020-12-04 07:33] hanjukim opened #127 "Feature: Add Luna and Terra icons to Available section in Account page"
## Description
Unlike the Station, account page does not show icons for luna and terra. Please make this feature by referring to similar component in Station project.

https://github.com/terra-project/station/blob/master/src/pages/bank/AmountCard.tsx

[2020-12-07 01:36] #127 closed, assigned to simcheolhwan, James0126

[2020-12-07 01:36] hanjukim commented on #127
wrong project

[2020-12-24 06:53] James0126 commented on #90
Closed terra-project/use-station#17

[2020-12-24 06:53] #90 closed, assigned to simcheolhwan

[2021-02-03 23:57] Maximin21 opened #137 "Terra"
Is it possible to reveal in any way seed phrase if I have wallet name password and public key?

[2021-02-13 17:47] Matthews3301 opened #138 "Missing word in staking confirmation dialog"
# Summary
Not sure if this is the right repo, however after staking your Luna in Station, this message is displayed:
`Remember to leave a small of tokens undelegated, as subsequent transactions (e.g. redelegation) require fees to be paid.`

# Expected
It should say:
`Remember to leave a small *amount* of tokens undelegated, as subsequent transactions (e.g. redelegation) require fees to be paid.`

[2021-02-14 08:54] simcheolhwan commented on #138
terra-project/use-station#289e382 solved this.

[2021-02-14 08:54] #138 closed, assigned to simcheolhwan

[2021-02-25 06:05] averybigant opened #139 "ledger account pubkey changed and cannot revert back to the old key to operate my fund"
# Summary
After I connected the terra station chrome extension with my ledger, it automatically got an address by which I can operate my fund in my account and use mirror protocol. However, after a day, when I tried to do operations again, I got the "invalid pubkey: pubKey does not match signer address terra15n********************************************v with signer index: 0" error. I clicked tha

[2021-02-25 06:08] hanjukim commented on #139
Hi. Which app are you using on your ledger cosmos or terra? We strongly suggest you to move your asset to the address made from ledger terra app.

[2021-02-25 06:17] averybigant commented on #139
I see. My bad! I just have too many wallets and most cosmos ecosystem chains use the ledger cosmos app so I was just using the cosmos app. Sorry!

[2021-02-25 06:17] #139 closed, assigned to simcheolhwan

[2021-02-25 06:22] averybigant commented on #139
I do hope I can have multiple addresses and switch between them using the ledger terra app though. Maybe a feature request.

[2021-03-13 15:46] kenzieschmoll opened #141 "Feature: add a reporting feature to calculate total staking rewards and total gains"
For tax purposes, users are going to need to report total staking rewards as income.

This request is for a reporting feature in terra station that will take a selectable base currency, say USD for example, calculate the total staking rewards in USD (conversion rates for the rewarded tokens should be taken at the time that the withdrawal transaction took place), and generate a total rewards basis

[2021-03-13 22:04] kenzieschmoll opened #143 "Feature: add an option to automatically convert all non-luna staking rewards to Luna or token of choice"
When withdrawing staking rewards, the rewards come in several different types of tokens. This is a request to add a feature that automates swapping non-luna rewards into currency of choice or into Luna.

Example:
- user withdraws the rewards of 5 Luna, 1 UST, 200 KRT, 1 EUT.
- user selects option to auto-swap non-luna tokens into UST.
- upon withdrawal, user account is credited with 5 Luna and the

[2021-03-17 21:01] octalmage opened #145 "Feature: Add buttons to claim MIR, or ANC airdrop."
HI Terra station developers! Huge fan of your work.

I've been hanging out in the Discord and I've seen an increasing number of users who have their private key in Station, but don't have the mnemonic phrase. Rookie crypto mistake, I know!

Would it be possible to add two new buttons to the UI (possibly under the staking tab), to give these users the option to claim their airdrops for both Mirror

[2021-03-18 17:39] rizhenkov opened #146 "Build Terra Station steps not working"
# Summary
After doing ["Build Terra Station" instructions](https://github.com/terra-project/station#build-terra-station) from the Readme

cd station
cp src/chains.sample.ts src/chains.ts
yarn
yarn start

I've got error:
`Failed to compile. Module not found: Can't resolve '../../use-station/src'`

![image](https://user-images.githubusercontent.com/987517/111670789-4655d900-8829-11eb-8de8-62cb31436e

[2021-03-18 20:31] RomainLanz commented on #146
Hey @rizhenkov! 👋

You need to initialize the submodule.

[code]

[2021-03-18 22:02] RomainLanz commented on #99
Hey there! 👋

I see that you are using GA in some applications (like Anchor).
Could you please consider using [Plausible](https://plausible.io/) or any other privacy-friendly alternative?

[2021-03-18 22:05] RomainLanz opened #147 "Feature: Deploy the extension to Firefox store"
Hey there! 👋

I have tested to use the extension locally in Firefox and it seems to work.
Is there any reason to not release the extension to the Firefox store?

[2021-03-18 22:34] RomainLanz opened #149 "Feature: Move useStation to a package"
Hey there! 👋

Having the `useStation` packaged as a submodule is not very efficient.

- It is tricky for people not knowing well `git`;
- It enforces to install all its dependencies in user-land;
- It is huge.

It would probably be better to package the repository and release it as an npm package.
You can still have the same DX by using `npm link` to install a dependency locally.

[2021-03-19 20:40] #146 closed, assigned to simcheolhwan

[2021-03-20 09:49] dennis2k opened #150 "Redelegating staked asset"
# Summary
Im staking some Luna on the LunaOrbit validator and want to move them to another validator
I select the old validator to move the delegated stakes from. It breifly shows the form to confirming the move but then it keeps giving me an error:

Oops! Something went wrong
redelegation to this validator already in progress; first redelegation to this validator must complete before next redeleg

[2021-03-21 04:07] hanjukim commented on #150
The message describes exactly why you can't do it. You cannot do multiple re-delegations to one validator.

[2021-03-21 04:07] #150 closed, assigned to simcheolhwan

[2021-03-21 04:08] hanjukim commented on #137
No

[2021-03-21 04:08] #137 closed, assigned to nobody

[2021-03-21 09:24] dennis2k commented on #150
But i am not doing that - as i say im currently staking on LunaOrbit vaidator - an want to move to another in which i have currently not any Luna staked. Could it be that i cannot redelegate before 21 days after last redelegatino?

[2021-03-22 06:45] simcheolhwan commented on #149
It already started with [npm package](https://www.npmjs.com/package/@terra-money/use-station).
We found out that it's bad to build it every time with Yarn link.
So we included it as a submodule.

[2021-03-22 06:46] simcheolhwan commented on #145
We are preparing to copy wallet from Station to Extension.

[2021-03-22 06:47] simcheolhwan commented on #143
It is already possible to do with a function called multiple swap.
We are also preparing the feature to withdraw rewards and automatically multiple swap them.

[2021-03-22 06:48] simcheolhwan commented on #114
@ouiliame is trying to build the linux version of the Station desktop app.

[2021-03-23 19:38] octalmage commented on #145
Great! I think that's a fine workaround. I'll close this.

[2021-03-23 19:38] #145 closed, assigned to simcheolhwan

[2021-03-30 09:24] etienne-napoleone commented on #114
I believe this is out already

[2021-03-30 09:24] #114 closed, assigned to simcheolhwan

[2021-03-30 09:33] etienne-napoleone commented on #86
continued in https://github.com/terra-project/station/issues/143

[2021-03-30 09:33] #86 closed, assigned to simcheolhwan

[2021-03-31 06:02] simcheolhwan commented on #147
I tried it and the extension itself works but the features does not works. (Even viewing wallet balances.)
This need more efforts to debug to deploy.

[2021-04-01 23:02] Migacz85 opened #153 "Terra station from time to time is "hanging""
# Summary

Users are experiencing from time to time that terra station is "hanging out",  In that state when user is trying to open:

-Dashboard,
-Governance,
-Swap
-Staking

page is loading and loading - at the end throwing an error that "something is wrong.."  this issue is a repeatable issue. And can be related to other parts of this project. Like some part's of API calls. And no related to thi

[2021-04-05 10:14] njpearman opened #154 ""Failed" displayed for successful Anchor reward claim"
# Summary

I experienced what I think is a missing "transaction retry guard" (or something like that?) in Station Chrome Extension. It is a bit hard to explain the scenario, but here goes.  (I've already spoken to Paul on Discord about this, and he understands what happened)

When I made my first claim for Anchor rewards on the Anchor web app, Station Chrome Extension displayed a "Failed" message

[2021-04-28 12:01] OrmEmbaar opened #157 "Error message in Swap UI when inputting swap details"
# Summary
When inputting parameters into the swap form on `/swap`, the form disappears and reports an error message: `Oops!  Something went wrong.`

![image](https://user-images.githubusercontent.com/38507729/116398432-b50e5500-a81f-11eb-8e5b-add92f302d0f.png)

This occurs only once all three of the swap form boxes have received an input. On inspecting the console, the error below is printed when

[2021-04-28 12:13] simcheolhwan commented on #157
It was temporary issue because we were updating the fcd backend.
Try it again now please.

[2021-04-28 12:13] #157 closed, assigned to simcheolhwan

[2021-04-28 12:15] carrithers commented on #157
Yes, it is now resolved, thanks.

[2021-04-30 08:19] fongchunwee opened #158 "Terra Station Governance proposal missing"
# Summary
Kindly help to check the Terra Station Governance
--> Proposal shown are not the full lists. Not in either "Passed" or "Rejected" path.
Exp : Proposal ID : 69 is missing

# Expected
Hopefully can view all the proposals either "Passed" or "Rejected" in the Terra Station Governance

[2021-04-30 08:31] hanjukim commented on #158
It does not exist actually.

[2021-04-30 08:32] #158 closed, assigned to simcheolhwan

[2021-05-03 08:01] Blockchuan commented on #158
so where is my luna which I had deposited in the Proposal 69

[2021-05-12 00:06] iicc1 opened #159 "Can't delegate to non-active validator"
# Summary
Since there is no way to list inactive validators and there is no search function in Terra Station, users can't delegate to inactive validators. This is a huge issue for recently created validators because users can't delegate their tokens to them, thus not being able to grow and to get enough voting power to become an active validator.

# Expected
Terra Station should implement the func

[2021-05-12 03:32] peterpme opened #160 "Staking Sort Fields aren't sorting correctly"
# Summary

1. Navigate to Staking
2. Click Voting Power
3. Expectation: Ascending or Descending Order
4. Output: Somewhat random order

----

1. Navigate to Staking
2. Click Delegation Return
3. Expectation: Ascending or Descending Order
4. Output Somewhat random order

----

- MacOS Catalina
- Mainnet
- Terra Station Electron App

Thanks! Unless I'm mistaken and this is correctly working, it seem

[2021-05-12 14:49] chrisciszak opened #161 "Feature: Ability to add any CW20 tokens on Terra to your Wallet"
We would like to be able to easily see our balance of CW20 tokens we own on Terra in the Wallet section so that we could see the balance we own and send tokens to other addresses directly from the UI rather than going to the contract to interact and query it.

[2021-05-13 05:25] simcheolhwan commented on #161
Make a pr here please:
https://github.com/terra-project/assets/blob/master/cw20/tokens.json

[2021-05-13 05:25] #161 closed, assigned to simcheolhwan

[2021-05-13 05:27] simcheolhwan commented on #160
![image](https://user-images.githubusercontent.com/5048516/118081994-60f69980-b3f7-11eb-84b2-f0ac527d48e8.png)

It seems okay for me.
If you have different result, would you post a screenshot?

[2021-05-13 05:43] ouiliame commented on #159
@iicc1 What are "inactive" validators? Station shows all validators that have validated at least 1 block.

[2021-05-13 05:46] simcheolhwan commented on #154
Do you remember what kind of 'failed' message was it?

[2021-05-13 05:46] #149 closed, assigned to simcheolhwan

[2021-05-13 07:00] njpearman commented on #154
Sorry, I didn't make a note of anything beyond what I included in the original post. I only thought about recording the message after I'd closed the Station extension popup...

[2021-05-13 11:01] iicc1 commented on #159
For instance, we launched a validator some days ago: https://finder.terra.money/columbus-4/validator/terravaloper108lmrztvc3pc3w774shgvpry4d3lf79k2ummna

It does not show on Station since it has not been able to mine any block. We have some people wanting to delegate their tokens there but they can't.

[2021-05-14 09:30] RomainLanz commented on #147
I do not remember having an issue with the extension.

Do you have a checklist of everything the extension is doing to verify my setup and maybe provide PR to fix the remaining issues?

[2021-05-18 12:26] 0xantman opened #162 "Adding coins when interacting with contract"
# Summary
It seem when executing a contract message who need native coins for paying the contract don't receive the coin and return an error message

# Expected
Sending coin when interacting with a contract who need native coin to execute (env.message.sent_funds) will receive the coin and execute with success

# Environments
* Stage:
* Chain: Colombus-4/Tequila-0004
* OS: big sur 11.3.1
* Platform

[2021-05-20 00:39] CrispBull opened #163 "Missing Bank Tab"
# Summary
The Instructions for creating a testnet wallet requires one to select a Bank tab on Terra Station, I'm using the latest version (1.1.0) and can't find this tab on the Desktop app.

# Expected
I expected to see the **Bank** tab in Terra Station but this was missing.

# Environments
* Stage:
* Chain:
* OS: macOS Catalina
* Platform: Mac Book Pro

# Reproduce
1. Open Terra Station Desktop (

[2021-05-20 00:49] simcheolhwan commented on #163
Use **Wallet** menu please

[2021-05-20 00:49] #163 closed, assigned to simcheolhwan

[2021-05-20 08:00] #153 closed, assigned to simcheolhwan

[2021-05-20 08:05] hanjukim commented on #159
I can see `Stakely.io - 0% fee` validator in top of Staking page.

[2021-05-20 08:05] #159 closed, assigned to simcheolhwan

[2021-05-20 08:06] #160 closed, assigned to simcheolhwan

[2021-05-20 08:09] hanjukim commented on #162
@0xantman Could you give me the contract address in tequila-0004 network?

[2021-05-20 08:21] MSNTCS commented on #162
@0xantman can you share the error message you received?

[2021-05-20 11:01] 0xantman commented on #162
Testnet address
terra14usn4a3cnexvlu0wq0ta6lm2sdstzdre5aqa6u

[2021-05-20 11:03] 0xantman commented on #162
Generic error from the smart contract

[2021-05-20 11:48] iicc1 commented on #159
That's because we developed a custom Luna staking dashboard so users can delegate to our node, hence the node received enough delegations to become an active validator.

[2021-05-21 06:14] 0xantman commented on #162
Same with Anchor contract terra15dwd5mj8v59wpj0wvt233mf5efdff808c5tkal
Amount set on the coins input 1000 UST and contract give me this generic error

execute wasm contract failed: generic: Deposit amount must be greater than 0 uusd: failed to execute message; message index: 0: failed to simulate tx

[2021-05-21 15:15] peterpme commented on #160
Sorry for the delay. It looks like the new validators go above everything and I was confused. Thank you!

[2021-05-21 16:32] simcheolhwan commented on #162
@0xantman The previous version of Terra Station was not including the coins and its taxes.
It's fixed now. Thanks for report. Would you try it again?

[2021-05-21 22:39] 0xantman commented on #162
Great well done guys! Now it's working thank you! i can close this issue

[2021-05-21 22:39] #162 closed, assigned to simcheolhwan

[2021-06-03 03:39] silverdel opened #165 "Terra wallet(hardware wallet) connection failed with google chrome version 91.0"
# Summary
I am using a Nano ledger. Terra station wallet connection failed with google chrome version 91.0. Before, It was working great. It should be patched or change to another way. Fyi, Metamask fixed a similar problem. They are using Ledger live bridge connect.

![image](https://user-images.githubusercontent.com/6914254/120583002-43a76080-c3e2-11eb-910f-2270a0b8a26a.png)

# Expected
wallet co

[2021-06-03 07:42] gre commented on #165
👋

sorry i sent a wrong comment before,

I'm trying to understand, is the current implementation of Terra station wallet extension using WebUSB?
Ledger Live bridge is only a temporary workaround and not a viable solution.

[2021-06-03 08:36] silverdel commented on #165
👋 Gre,

I think Terra station wallet calls WebUSB through Chrome browser.  Fyi, Another way is to build the Firefox extension. This problem is not only with the Terra station wallet. I checked the same issue with the Binance Chain wallet as well. Fortunately, We can use the Binance wallet and Metamaks on Firefox. Thanks.

[2021-06-09 21:22] silverdel commented on #165
@simcheolhwan Any updates? Responses? Thanks.

[2021-06-09 21:26] silverdel commented on #165
It's solved with a new chrome update. Great working with Chrome 91.0.4472.101 (Official Build).

[2021-06-30 14:30] pedro-explore opened #168 "Feature: Increase the number of blocks for reporting uptime %"
Right now Station reports uptime on the last 10K blocks, which is the current signing window. However, this is only about a 16 hour time period and it is actually a useless metric for users. For example, see this validator which reports 100% on Station but has missed 12354 votes in the past Oracle Slash window: https://lcd.terra.dev/oracle/voters/terravaloper1grgelyng2v6v3t8z87wu3sxgt9m5s03x2mfyu7

[2021-07-01 10:10] hanjukim commented on #168
Good suggestion. We will do this.

[2021-07-07 07:45] Chinoman10 opened #169 "Feature: Offer to delete the AppData folder when uninstalling"
When the Terra Station app is uninstalled from Windows, the %appdata%/station-electron folder is not erased/removed.
This is a nuisance if you want to get a clean slate, but I understand some people might enjoy keeping their wallets locally stored.

Can we have a pop-up with the uninstaller to ask if the user wants to remove **absolutely everything** (including stored wallets), or just the applica

[2021-07-07 12:00] #168 closed, assigned to hanjukim, simcheolhwan

[2021-07-08 00:53] anthonytranDev opened #170 "Feature: Enable self compounding wallets"
## Description

Cardano enables self compounding of there ADA, not sure if this is a feature of their network. Though it does mean one doesn't have to constantly withdraw and stake back into the same pool.

## Expectations
- amount shown to compound on top of current stake
- user can be allowed to withdraw rewards from wallet

[2021-07-09 01:29] saegbert opened #171 "Unable to find recent transactions"
https://finder.terra.money/ cannot find any transaction created after block 3666874 which appears to be about the time of the last release.

The Terra Station desktop and android apps also do not show recent transactions.

Note: token balances show updated amounts for recent transactions but the transactions do not show in transaction history.

[2021-07-09 07:27] fish2plain commented on #168
I think the missed oracle votes returned by  `https://lcd.terra.dev/oracle/voters/operator_add/miss` is cumulative, not per slashing window period.
Also, the current code fix seems to only use missed oracle votes only, that doesn't seem correct.

https://github.com/terra-money/fcd/blob/86f54be7214fd1c4b0f7941f1b9e472f4e9a9ea8/src/collector/staking/validatorDetails.ts#L102

[2021-07-11 11:17] evanSpendlove commented on #147
I've tested and verified the following functionality of the wallet extension (version 1.8.1 currently on Chrome store) on Firefox:

1. Wallet balances are correctly displayed (checked against [Terra Finder](finder.terra.money))
2. Can send/receive coins (paying the appropriate fees in both UST and Luna)
3. Can create a new wallet that is properly created and viewable on the Terra Finder block expl

[2021-07-11 11:36] evanSpendlove opened #172 "Denying access to wallet for websites does not work"
# Summary
When connecting your wallet to website such as Anchor, Mirror, or Spectrum, the "Deny" option doesn't actually work. It enters the user into a loop of popups where the choice to deny doesn't seem to actually be registered in the extension (only in the popup window itself).

# Expected
If a user clicks "Deny" for access to their wallet, the popup should close (not another be spawned) and

[2021-07-13 18:22] dnunes opened #173 "Contracts search broken (always blank or unfiltered)."
# Summary
For the past month or so the search in the "Contracts" section of the Terra Station stopped working. It initially populates normally, but whenever you try to search an address, it will return a single "blank entry" and it is not possible to interact or query contracts using the app anymore, only through code. I get the same behavior using the Terra Station windows app and station.terra.m

[2021-07-20 14:03] hanjukim commented on #147
I've also tested Station extension with Firefox and had a weird bug after trying to connect it with https://terra.mirror.finance that it shows empty page and when clicking the extension icon from menu, it pops up a new window.

[2021-07-20 14:06] hanjukim commented on #171
It's fixed now

[2021-07-20 14:06] #171 closed, assigned to hanjukim

[2021-07-20 14:56] hanjukim commented on #169
Thanks for your suggestion, but it looks to me as a low priority issue because of following reasons

1. We are going to deprecate Station desktop after we make Station web app to be compatible with extension and walletconnect.
2. To add the feature people must install new deployed setup files.
3. Keys are not encoded as plain text

[2021-07-20 14:58] hanjukim commented on #147
btw, we are making a new version of Station extension re-written from the scratch and Firefox will be supported from the first release. cc: @simcheolhwan @iamssen

[2021-07-20 14:58] hanjukim commented on #172
@simcheolhwan can you check this out?

[2021-07-20 15:00] hanjukim commented on #173
I noticed this issue and found out that fcd collector was not indexing contracts instantiated within a contract instantiation or execution. The fix will be deployed soon.

[2021-07-20 15:02] hanjukim commented on #170
@anthonytranDev I don't understand about your expectations. Station is just a wallet application and Terra has no compounding feature on the core.

[2021-07-24 02:39] madmartian5 opened #175 "chains.sample.ts not in repository"
# Summary
Hi there, following instructions to launch locally... can not issue `cp src/chains.sample.ts src/chains.ts` as chains.sample.ts does not exsit.
Thanks

[2021-07-26 05:27] simcheolhwan commented on #175
ddcb023 solved this

[2021-07-26 05:27] #175 closed, assigned to simcheolhwan

[2021-07-26 05:28] simcheolhwan commented on #172
244c33c solved this

[2021-07-26 05:28] #172 closed, assigned to simcheolhwan

[2021-07-28 07:43] paulvi opened #176 "Electron app (macOS, Windows) has not been released for over a year"
https://www.terra.money/ points to this repos release download for Electron app (macOS, Windows)
However those are 1+ year old.

Please update desktop app releases.

[2021-07-28 09:23] paulvi opened #177 "Empty and non-responsive electron app (freshly built)"
# Summary

I followed README https://github.com/terra-money/station#running-terra-station-with-usestation-locally
and got Station running locally at https://local.terra.money:3000 OK

But when following steps for electron app
https://github.com/terra-money/station#building-terra-station-electron-app

[code]

![image](https://user-images.githubusercontent.com/1614482/127297548-300dc036-02b4-439b-a6

[2021-07-28 12:12] paulvi commented on #177
The same empty and unresponsive result is for built app distribution (with `yarn build`)

[2021-07-29 20:23] hanjukim commented on #177
Can you skip checking out origin/local?

[2021-07-29 20:30] hanjukim commented on #177
I also updated the README on station repository and confirmed it is working.

[2021-08-01 12:42] bosslee commented on #147
Hi @hanjukim like to ask if there is any estimated date of release for this?
Or will this be something coming out together with Columbus-5. Thank you

[2021-08-02 02:27] paulvi commented on #177
it worked this time.

[2021-08-02 02:27] #177 closed, assigned to simcheolhwan

[2021-08-03 13:40] hanjukim commented on #147
@bosslee Sorry, no ETA at the moment. I will let you know soon.

[2021-08-03 13:43] hanjukim commented on #176
Everything is good with the latest version of Electron, but there's an issue with Ledger support. Is there any urgent reason that you need this?

[2021-08-03 20:31] paulvi commented on #176
No, just general expectation that software needs to be updated
or should be released if developed.

[2021-08-05 09:27] paulvi commented on #147
So this issue is to be closed, when new Station extension re-written from the scratch is published...

BTW, Safari (since v14) uses the same web api as Firefox, but needs it to be done in XCode with extra swift code.

[2021-08-05 09:36] paulvi opened #178 "Feature: support station (browser web) extension in web app"
I find it unexpected, that this station web app does not support

Maybe it is already considered in newer extension under development https://github.com/terra-money/station/issues/147#issuecomment-883462011

Example: browser with station (browser web) extentson installed

![image](https://user-images.githubusercontent.com/1614482/128327803-30f81eba-1df0-47b9-82e2-b78bd90b8033.png)

[2021-08-05 09:47] paulvi opened #179 "Locally running Station web app cannot connect to locally running LocalTerra"
# Summary

Locally running Station web app (https://local.terra.money:3000/ ) cannot connect to locally running LocalTerra

![image](https://user-images.githubusercontent.com/1614482/128329313-fcce8aaa-c3fc-46ba-ac74-c5d2d6b8fc10.png)

# Expected

It should work

# Environments
* Stage: ?
* Chain: local testnet with LocalTerra
* OS: macOS 10.15 Catalina
* Platform: intel

# Reproduce
1. Follow REA

[2021-08-05 13:23] hanjukim commented on #179
@paulvi For me it is working well. Can you try to get some more information from chrome developer console?

OS: macOS Mojave
Browser: Version 92.0.4515.107 (Official Build) (x86_64)

`main` branches for both project

[2021-08-06 02:28] paulvi opened #180 "The latest `main` branch code has compilation issue for ./src/pages/validator/Actions.tsx"
# Summary

After updating and rerunning,

git pull
npm i
npm run start

I noticed copilation

[code]

# Expected

no compilation erros or warnings

# Environments

[code]

* Stage:
* Chain:
* OS:
* Platform:

# Reproduce
1.
2.
3.

[2021-08-06 02:29] hanjukim commented on #180
It is fine for me. Check your use-station branch or you can just get clean clone it and try again.

[2021-08-06 02:29] #180 closed, assigned to simcheolhwan

[2021-08-06 02:36] paulvi commented on #180
![image](https://user-images.githubusercontent.com/1614482/128447017-d2f12d1c-35d9-4e04-bef1-aa5895db2d7a.png)

aa099f879da51b89cbbc74e2eb6811cf3022dd76 is the last and only commit in last 4 days,
and it changed `src/post/useDelegate` in question

When you says it works on you computer, do you mean it should be possible to get working state by following README?

[code]

[2021-08-06 02:39] hanjukim commented on #180
@paulvi There must be something wrong with your environment. Yes, I tried with fresh copy and it is working.

[2021-08-06 02:51] paulvi commented on #180
well, yes, I can confirm if I `git clone` again, it works.

---

I am pretty sure, it has to do with git submodules

After I run

`git submodule update`

(see https://stackoverflow.com/questions/1030169/easy-way-to-pull-latest-of-all-git-submodules)

The code could compile.

[2021-08-06 02:56] paulvi commented on #179
Why is locally running app (on port :3000) trying to connect to :3060 ?

It should be some required port configuration, though I assume it should work by default when following README

![image](https://user-images.githubusercontent.com/1614482/128449036-06c5b838-75e0-49ed-993a-d10150952b2b.png)

[2021-08-06 03:02] paulvi commented on #179
Well, app from https://localhost:3000/ can connect,
but not app from https://local.terra.money:3000/

[2021-08-06 03:25] paulvi commented on #179
Should anything from `.env.development` be applied? Or `.env` changed in other way?

I tried all `.env.development` (including HOST=local.terra.money), it did not help.

Please point in right direction

[2021-08-06 13:59] hanjukim commented on #180
then I guess your git has some problem.. (old version) mine is git version 2.21.1 (Apple Git-122.3) `git clone --recursive` doesn't work?

[2021-08-09 02:28] paulvi commented on #180
Once repository is cloned, `git pull` does not updates submodule reference

there is switch, but it is not by default
`git pull --recurse-submodules`

see https://stackoverflow.com/questions/4611512/is-there-a-way-to-make-git-pull-automatically-update-submodules

[2021-08-09 03:22] paulvi opened #181 "Feature: show Total (all funds in total, total networth)"
It would be nice if Station app in Dashboard or Wallet tab could show Total (all funds in total, total networth),
that is sum of all currencies (LUNA + LUNA staked + stable coins) into some selected currency (LUNA, KRW, EURO, UST etc)

This is related to #141 total staking rewards as income, that asks for details or current total

[2021-08-09 03:25] simcheolhwan commented on #181
It is planned to be supported by the next version of the Station.
Thank you.

[2021-08-14 05:38] pat-s opened #182 "macOS link on docs is broken"
The link to the macOS app on https://docs.terra.money/integrations.html#wallets is broken.

[2021-08-14 09:40] simcheolhwan commented on #182
It's not for me now.
Could you check again?

[2021-08-15 07:49] pat-s commented on #182
Seeing the following with Brave and Safari (and no download gets triggered for me)

![image](https://user-images.githubusercontent.com/8430564/129471167-e92389a9-e83a-4811-b3a1-7f2ddedf0031.png)

[2021-08-18 05:01] simcheolhwan commented on #182
The links in [docs](https://github.com/terra-money/docs) are fixed now. Thank you.

[2021-08-18 05:01] #182 closed, assigned to simcheolhwan

[2021-08-19 10:53] hanjukim commented on #179
do you have local.terra.money record in /etc/host ?

[2021-08-25 02:18] paulvi commented on #179
Yes, I have
(it is visible in screenshot above)

[2021-09-04 15:55] roccomuso opened #185 "import private key error"
# Summary

I'm having issues importing the private Key in Terra Station. It keeps saying `"Unexpected token u in JSON at position 0`. I'm importing an hex encoded private key. Does it expect a json?

# Expected

To import correctly the private key hex.

# Environments

* Chain: Mainnet
* OS: Linux Ubuntu

[2021-09-14 01:33] georgemc98 opened #186 "Contract Search Is Broken"
# Summary
Both the desktop Terra Station and web Terra Station applications do not allow the user to search for contracts by contract address.

# Expected
Searching by contract address (ex. terra1...) should return the contract address that the user would then be able to query or interact with.  Right now, no contract is returned and there is nothing to interact with.

# Environments
* Stage:
* Ch

[2021-09-14 10:56] simcheolhwan commented on #185
Hmm it seems you copied wrong private key.

Anyway I agree that the error message is weird.

[2021-09-14 11:04] roccomuso commented on #185
It's not about a wrong private key, but I think Terra Station expect a different format, JSON instead of a raw hex private key.
That would be nice to allow importing also the hex private key.

[2021-09-14 11:05] simcheolhwan commented on #185
You should paste the key exported from the Station products(Desktop, mobile, extension) because of its own structure.

[2021-09-14 11:15] roccomuso commented on #185
But that is not consistent with what the JS SDK produce (of course you could use the mnemonic).

[2021-09-14 12:21] AndonMitev opened #188 "Run project locally and import extension"
Hello is there a way to import the extension to the browser, like i can see way to start the web app the electron version but nothing for the extension. I've run the `build-extension` and try to import the build folder in the browser but throw error missing manifest which is located in the public folder any ideas how to run the extension locally. And when try to load public folder throw error `
Co

[2021-09-14 12:29] simcheolhwan commented on #188
npm run ext

[2021-10-13 06:04] hmang21 commented on #178
Any update here re: Terra Station on Firefox? Thx you!

[2021-10-13 06:11] simcheolhwan commented on #178
@paulvi Now it is supported.
@hrfischberg It is on development.

Thanks.

[2021-10-13 06:11] #178 closed, assigned to simcheolhwan

[2021-10-13 06:12] #188 closed, assigned to simcheolhwan

[2021-10-13 06:13] simcheolhwan commented on #186
Fixed

[2021-10-13 06:13] #186 closed, assigned to simcheolhwan

[2021-10-13 06:13] hmang21 commented on #178
Release date? Thx you

[2021-10-13 06:14] simcheolhwan commented on #178
@hrfischberg No release date yet, but in this year we promise.

[2021-10-13 06:15] simcheolhwan commented on #176
It has no issue now so it is not updated. If you have any problem, open an issue on the electron repo please. Thanks.

[2021-10-13 06:15] #176 closed, assigned to simcheolhwan

[2021-10-13 06:17] simcheolhwan commented on #173
Fixed.

[2021-10-13 06:17] #173 closed, assigned to simcheolhwan

[2021-10-13 06:18] simcheolhwan commented on #170
We do not have auto compound in the core level.
You need to make your own bot to do it.

Thanks.

[2021-10-13 06:18] #170 closed, assigned to simcheolhwan

[2021-10-13 06:19] simcheolhwan commented on #165
Sorry for late response!

It is fixed from the Chrome browser itself. Thanks.

[2021-10-13 06:19] #165 closed, assigned to simcheolhwan

[2021-10-13 06:20] simcheolhwan commented on #154
No more similar report here, so I guess it is fixed or just was a temporary issue.
If you have any additional problem, report it again plz. Thanks.

[2021-10-13 06:20] #154 closed, assigned to simcheolhwan

[2021-10-13 06:20] simcheolhwan commented on #147
The extension will be improved in this year.
Then you can install it from the Firefox.

[2021-10-19 05:54] pedro-explore opened #196 "Min_spread not reporting correctly on Stable -> Luna swaps"
# Summary
Market Terra stables -> swaps have a minimum spread of 0.5%, however, Station reports this as 0.00%. I could not find the issue, could be an issue with the FCD request for params.

# Expected
0.5% min spread report.

![image](https://user-images.githubusercontent.com/86209013/137851652-320ad2ce-8472-4569-8678-14d2a19e257b.png)

# Environments
Browser. Android app. Desktop windows app.

#

[2021-10-19 05:55] simcheolhwan commented on #196
Thanks for the report.
I will check it and fix it.

[2021-10-20 12:49] varanauskas opened #197 "Feature: Have multiple (BIP44) addresses from one Mnemonic"
Terra Station only shows 1 address when creating a new wallet based on a 24 word (BIP39) mnemonic.

It would be nice if we could generate more addresses from the same mnemonic (private key) using BIP44 and increasing the account index, and switch between them similarly to what MetaMask is already doing.

As far as I understand the address is already generated using BIP44 using the default derivati

[2021-10-25 11:17] Green7 opened #200 "Contract/ Create does not work"
After using the contract / create button the window "Create Contract" is not displayed.

[2021-10-26 08:57] devhyunjae opened #203 "Feature: data should be refetched after Deposit | Withdraw is done"
## Given: User has UST in wallet
![스크린샷 2021-10-26 오후 5 50 03](https://user-images.githubusercontent.com/12890257/138844318-cb83452f-a90a-43be-9080-d646b49ab2a2.png)

## When: User clicks 10 UST Deposit and completes tx flow. And press ok

![스크린샷 2021-10-26 오후 5 51 58](https://user-images.githubusercontent.com/12890257/138844725-6b92964c-ddba-4d2a-9e13-08b043bc0005.png)
![스크린샤

[2021-10-26 15:06] chtmorris opened #204 "Ledger error when claiming staking rewards"
# Summary
When connected to Ledger Nano S or Ledger Nano X, Terra Station returns an error when trying to withdraw staking rewards.

# Expected
On claiming staking rewards, Ledger device should show transaction for approval. But no transaction is being displayed. Instead, an error appears on the web page stating - "Data is invalid : Unrecognized error code"

# Environments
* Stage:
* Chain: Terra

[2021-10-26 15:26] simcheolhwan commented on #204
If you delegate many validators, the tx is too long to be signed by ledger.
Claim one by one please.

[2021-10-26 15:47] chtmorris commented on #204
I just tried claiming one by one and still not working. The same issue.

[2021-10-28 12:38] f4llenz commented on #197
I have nothing to add but just wanted to say I’d love to see this on Terra Station. I use my Ledger for all my crypto but on Terra I had to resort back to private keys to have multiple wallets.

[2021-10-28 13:24] chtmorris commented on #204
@simcheolhwan - do you have any other suggestions on how to claim rewards? Is there a fix coming?
Appreciate your help here.

[2021-10-29 10:11] asotirov opened #205 "Feature: Import Keplr private key in TerraStation (includes basic solution)"
Right now you cannot use the  private key from the Keplr extension to be imported in TerraStation.

This is important, because Keplr accounts which have used Google login to generate access to Keplr extension do not have their mnemonics.
However, they do have the private key which should be good enough for everything in the Cosmos universe.
Maybe add a simple form that allows to input a private ke

[2021-10-29 10:14] sascha1337 commented on #205
God bless you for this one, this non-mnemoric google login on keplr been slowing me down,
same problem on AKASH CLI too

[2021-10-29 10:18] asotirov commented on #205
I've been using the following `@cosmjs` method to init a base wallet successfully. Hope it helps.

[code]

[2021-11-02 20:07] chtmorris commented on #204
Short term fix - undelegating any sum of Luna also withdraws all staking rewards.

[2021-11-02 20:07] #204 closed, assigned to simcheolhwan

[2021-11-07 02:59] rymalia opened #209 "Feature: There should be a description of Market vs Terraswap on Swap screen"
On the Swap page, when swapping LUNA & UST, there's the buttons to switch from Market or Terraswap, but there's no information indicating what the differences are between them. There are important differences in these two, as one burns LUNA and one doesn't. There should be a short, one-sentance description of each, or just comparing the two. This can either be done as a tool-tip on-hover or as dis

[2021-11-11 23:55] rodrigoherera commented on #209
Hi @rymalia \ @simcheolhwan i saw this issue/enhancement and give it a try and looks like this:

![Captura de Pantalla 2021-11-11 a la(s) 20 53 54](https://user-images.githubusercontent.com/14967966/141385371-e9b94c49-a60e-4175-a88c-2ac5ddb9495d.png)
![Captura de Pantalla 2021-11-11 a la(s) 20 54 00](https://user-images.githubusercontent.com/14967966/141385374-22adea85-1760-4d8e-8976-6e86703b19a6.

[2021-11-12 17:27] obnoxiousmods opened #215 "Feature: Trezor support in Terra station"
Title says it all.

[2021-11-18 03:05] rymalia commented on #209
Yep, I think that's great. Just need the explanation text

[2021-11-18 15:17] roccomuso commented on #185
I realized that Station Desktop supports a 12 words mnemonic. So the private key way is optional.

[2021-11-18 15:17] #185 closed, assigned to simcheolhwan

[2021-12-02 14:40] imanust opened #219 "TOR network not supported"
# Summary
The Terra Station extension does not work with TOR network. All endpoints, such as https://assets.terra.money/chains.json, fail because Cloudfare is not configured properly. Please use this to solve it https://github.com/allow-tor/on-cloudflare.

I am sure you are aware that there are a lot of people that live in censured countries and really don't have other choice than using the TOR ne

[2021-12-06 02:38] simcheolhwan commented on #28
This feature will be implemented with the next version of Terra Station soon.

[2021-12-06 02:40] simcheolhwan commented on #30
You can search tx by hash from the [Terra Finder](https://finder.terra.money).
Search by any other information would not be very useful currently.

[2021-12-06 02:40] #30 closed, assigned to simcheolhwan

[2021-12-06 02:43] simcheolhwan commented on #95
This idea is amazing. I will look into it.

[2021-12-06 02:44] simcheolhwan commented on #99
@RomainLanz Thank you for introducing Plausible.
We haven't add the GA because of the privacy issue. I will check the Plausible soon!

[2021-12-06 02:52] simcheolhwan commented on #99
If you have more alternative options, please let me know to look.

[2021-12-06 02:52] simcheolhwan commented on #106
Updated

[2021-12-06 02:52] #106 closed, assigned to simcheolhwan

[2021-12-06 02:56] D33M0N commented on #99
hell no to trojans!

[2021-12-06 02:57] #143 closed, assigned to simcheolhwan

[2021-12-06 02:58] simcheolhwan commented on #141
https://stake.tax/

[2021-12-06 02:58] #141 closed, assigned to nobody

[2021-12-06 02:59] simcheolhwan commented on #143
This feature will be implemented soon in the next version of Terra Station

[2021-12-06 03:00] simcheolhwan commented on #147
We're almost there. Soon.

[2021-12-06 04:15] #169 closed, assigned to simcheolhwan

[2021-12-06 04:15] simcheolhwan commented on #179
`.env` file does nothing

[2021-12-06 04:16] simcheolhwan commented on #181
Soon

[2021-12-06 04:18] simcheolhwan commented on #197
The ledger index will be supported in the next version of extension, which will be released soon.

[2021-12-06 04:20] simcheolhwan commented on #203
The new version of Station will query data better, which will be released soon.

[2021-12-06 04:24] #203 closed, assigned to simcheolhwan

[2021-12-06 04:37] simcheolhwan commented on #209
We will add it :) Thank you for the idea

[2021-12-06 12:40] RomainLanz commented on #99
I also heard of [Fathom](https://usefathom.com/), but I have never used it.

[2021-12-06 14:49] github12101 opened #221 "Install error on Debian 11 Bullseye AMD64"
# Summary
station-electron_1.1.1_amd64.deb throws error during install in Debian 11 Bullseye (current stable version) on AMD64

Steps to reproduce:
wget https://github.com/terra-money/station/releases/download/v3.5.0/station-electron_1.1.1_amd64.deb
sudo dpkg -i station-electron_1.1.1_amd64.deb

[code]

Package "libappindicator3-1" is not available in Debian. I can only find the following:
[code]

[2021-12-08 18:52] ec1warc1 opened #224 "Please enter a valid value, the two nearest values are... ALL WRONG"
# Summary
If you edit the amount of send manually, then hit ENTER, the wallet complains:
"Please enter a valid value, the two nearest values are" - and the values it shows impossible, making it impossible to send funds.

There is a workaround, and that is by not pressing ENTER on keyboard while the focus is on the value, rather - just click SEND or by tabbing twice to focus on SEND.

I tested this

[2021-12-09 04:15] simcheolhwan commented on #224
Thank you for report

We will fix it in the next version soon

[2021-12-09 04:31] wrjanan commented on #179
I ran successfully in a pretty hacky way.
under package.json
`"start": "HOST=localhost react-scripts start"`

we have to use https, without, the local storage was failing for me.

[2021-12-09 04:36] wrjanan commented on #179
we could add a separate script for convenience purposes.
`"start": "react-scripts start",`
`"start:local": "HOST=localhost react-scripts start"`

This way, if we wanted to test with local node, we can run `npm run start:local`

However, this is just the surface level fix.

A deep root level fix will involve setting an environment variable that captures the baseURL which the local terra node runs o

[2021-12-09 04:42] simcheolhwan commented on #179
Actually the use of `local.terra.money` will be deprecated very soon. Just wait for a few days please.

[2021-12-10 06:25] Solipsos opened #225 "Change of address with ledger"
Hello,

my address has changed after reconnecting my Ledger with terra station, but now I can't access the address anymore although there are funds on the address. I tried to reconnect, but still it doesn't find the address with the funds. Tried the chrome extension too, still didn't get the old address with the funds.
I haven't changed the seed phrase, so no mistake there, as it is a Ledger.
How

[2021-12-16 09:30] simcheolhwan commented on #225
What ledger app do you use?
I guess it is because your balance is in bip 118 address, and your ledger generates bip 330 address now.

[2021-12-16 09:38] Solipsos commented on #225
Terra station on Ubuntu, how can I access the bip 118 address?

[2021-12-16 09:39] simcheolhwan commented on #225
I meant what is the "ledger app" do you use?

[2021-12-16 09:40] simcheolhwan commented on #225
There are many apps in the ledger device, and are you using the Terra ledger app?

[2021-12-16 09:46] Solipsos commented on #225
Terra version 1.2.0

[2021-12-16 09:49] simcheolhwan commented on #225
We will see.

If it's urgent situation you have option to recover your wallet with your seed phrase. It recovers both addresses if you have balance

[2021-12-21 16:08] loracpuff commented on #225
Hello Soliposos,

Seems I am having the same problem as you. After I re-login into Terra station, my wallet is linked to another address with no funds. I used my seed phrase to recover account, but the address is still the new one with no funds.. I did keep the original address and I looked it up using Terra Finder(view only mode) i could still see the old funds but there is no way I can move them

[2021-12-21 17:17] loracpuff commented on #225
@simcheolhwan, I have tried to recover my wallet using seed phrase. But using Terra Station 1.21.2 I only get to see the new address with no funds. Is there a way to allow me to link to the old address which actually has the fund?

[2021-12-21 17:32] loracpuff opened #229 "*del*"
I have established a Terra Wallet a few days ago, and also deposited some UST and staked with Anchor Protocol. A few days later when I try to log in to that Terra Wallet again, I was shocked the address was a new one, different from the one I saw before, and with empty coins.

I tried to recover the wallet using my seed phrase (only written down on a paper and not stored anywhere digitally). But i

[2021-12-21 21:00] Solipsos commented on #225
Hey,
I managed to restore the funds, as @simcheolhwan said, there was a change in the bip algorithem. I used the chrome extension and then I saw both addresses, maybe you should try the browser extension instead of the desktop app

[2021-12-21 23:19] loracpuff commented on #225
@Solipsos Many thanks for your reply. I have been using Chrome extension, but I still only saw one address. I also tried with mobile, Desktop latest versions but still only manage to see the new address only. Do you mind sharing with a screenshot of how it looks with both addresses? As for Chrome Extension, you should be referring to Terra Station right? Welcome to mask any private info.. Really w

[2021-12-22 11:23] Solipsos commented on #225
@loracpuff many delete the extension and the cache, then restore the wallet, it was when I restored the wallet, when I got to decide which one.

[2021-12-22 15:11] loracpuff commented on #225
@Solipsos I followed those steps, used a different computer to install the Terra station chrom extension but still couldnt work. I am so heartbroken.. Wonder if you could share a printscreen of how it looks with multiple addresses? I was being told by discord moderator that its not possible to have one seed phrase linked to two addresses, they insist my seed phrase is wrong.

[2021-12-22 16:01] simcheolhwan commented on #225
@loracpuff Would you try this with your mnemonic: https://test.terra.kitchen/test-mnemonic

[2021-12-22 23:49] loracpuff commented on #225
@simcheolhwan would really like to give it a try but as terra web told people not to share seed phrase even with support team i dare not.. Moreover as my wallet was generated a few days ago and bip 118 was used before 2019 summer so it couldn't quite be the case?

[2021-12-23 00:32] J3ff5k1b0y commented on #147
2021 or 2022 ser?

[2021-12-23 05:01] loracpuff commented on #225
@simcheolhwan say if I was able to generate bip118 and bip330 addresses from my seed phrase using the generator above, what is the next step I can do?

[2021-12-23 08:40] simcheolhwan commented on #225
<img width="855" alt="스크린샷 2021-12-23 오후 5 39 02" src="https://user-images.githubusercontent.com/5048516/147212783-d93cadad-1b77-4c54-b402-4a0f5e656a3c.png">
@loracpuff Yes it is not quite safe, the tool is only for emergency.
I added the `index` field on the page, so would you try with `index: 1` or something else?

[2021-12-23 08:42] simcheolhwan commented on #225
Anyway this page DO NOT send mnemonic to us. It is only for local. If you are a developer then you can run it locally with https://github.com/terra-kitchen/test repo

[2021-12-23 17:38] Let-it-Load opened #231 "My wallet address on the Terra Station Chrome extension and desktop app are different"
See title. They're both different addresses, and one shows I have no funds and the other says that I do.

I have tried deleting the wallet in Chrome and recovering it, but I am still getting the same issue.

Any ideas?

[2021-12-23 17:44] simcheolhwan commented on #231
It means you have wrong seed phrase.

Use the "export qr code" or "export key" feature from the wallet you can see your fund.

And keep that keys to import it into extension or mobile app.

[2021-12-23 17:44] #231 closed, assigned to simcheolhwan

[2021-12-24 12:13] v1rtl opened #232 "Feature: ship AppImage"
.deb is Debian/Ubuntu only and .rpm is Fedora only

would be cool to ship AppImage so Terra Station works across all Linux distros

[2021-12-24 16:15] loracpuff commented on #225
@simcheolhwan thank you so much for offering that! In the end i found out its just a stupid mistake in seed phrase made by me. But that tool you I heavily used in order to recover my wallet thanks so much *muah muah*

[2021-12-24 16:16] #229 closed, assigned to simcheolhwan

[2021-12-24 18:39] neoxian opened #233 "Feature: What is the license of this software?"
Please specify license. GPL? MIT?  Apache?  something else?

[2021-12-24 19:00] simcheolhwan commented on #233
It is not clear in this repository and we will make it clear quickly.

[2021-12-27 06:15] simcheolhwan commented on #28
terra-money/station@4356aeb closes this.

[2021-12-27 06:15] #28 closed, assigned to simcheolhwan

[2021-12-27 06:16] simcheolhwan commented on #181
terra-money/station@4356aeb closes this.

[2021-12-27 06:16] #181 closed, assigned to simcheolhwan

[2021-12-27 06:16] simcheolhwan commented on #196
terra-money/station@4356aeb closes this.

[2021-12-27 06:16] #196 closed, assigned to simcheolhwan

[2021-12-27 06:16] simcheolhwan commented on #200
terra-money/station@4356aeb closes this.

[2021-12-27 06:16] #200 closed, assigned to simcheolhwan

[2021-12-27 06:16] simcheolhwan commented on #224
terra-money/station@4356aeb closes this.

[2021-12-27 06:16] #224 closed, assigned to simcheolhwan

[2021-12-27 06:16] simcheolhwan commented on #233
terra-money/station@4356aeb closes this.

[2021-12-27 06:16] #233 closed, assigned to simcheolhwan

[2021-12-27 06:17] #225 closed, assigned to simcheolhwan

[2022-01-03 18:26] travel-subsidize0stature-resident commented on #147
Is this not ready yet?!

[2022-01-11 21:23] johnnyappleust commented on #147
@simcheolhwan Hi there. Any update on release for Firefox? Thank you team

[2022-01-12 00:46] PuppyLover101 commented on #147
Looks like there were some decently big changes to the crx extension. Firefox soon™?

[2022-01-31 06:21] johnnyappleust commented on #147
@simcheolhwan Hey there--- any update on FF extension release date? THX!